legend{
  color: darkred;
  font-size: 80%;
}

img{
  border: 12px solid black;
  border-radius: 20px;
}
/*------------Hidden locations------------*/
#desert{
  text-align: center;
  display: none;
}

#amazon{
  text-align: center;
  display: none;
}

#himalaya{
  text-align: center;
  display: none;
}

#lakes{
  text-align: center;
  display: none;
}

#maldives{
  text-align: center;
  display: none;
}
/*----------End Hidden Locations-----------*/
.jumbotron{
  background-color:transparent;
}

.img-responsive{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.doThisToWholeBody{
  color: #859DA6;
  font-family: verdana, sans-serif, serif;
  background-image: url("../img/woven.png");
}
