legend{
  font-size: 80%;
}
/*------------Hidden locations------------*/
.desert{
  text-align: center;
  /*display: none;*/
}

.amazon{
  text-align: center;
  /*display: none;*/
}

.himalaya{
  text-align: center;
  /*display: none;*/
}

.lakes{
  text-align: center;
  /*display: none;*/
}

.maldives{
  text-align: center;
  /*display: none;*/
}
/*----------End Hidden Locations-----------*/
.jumbotron{
  background-color:transparent;
}

.img-responsive{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.doThisToWholeBody{
  font-family: verdana, sans-serif, serif;
  background-color: #cccccc;
}
